In [1]:
import numpy as np
import pandas as pd

**Question 1: Version of NumPy**

In [87]:
np.__version__

'1.21.6'

In [2]:
!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2022-09-12 12:43:45--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.110.133, 185.199.111.133, 185.199.108.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.110.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘data.csv’

data.csv            100%[===================>]   1.41M  --.-KB/s    in 0.05s

2022-09-12 12:43:46 (25.6 MB/s) - ‘data.csv’ saved [1475504/1475504]

In [193]:
df = pd.read_csv('data.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

**Question 2: Number of records in the dataset**

In [150]:
n_records = df.shape[0]
n_records

11914

**Question 3: The most popular car manufacturers**

In [151]:
df['Make'].value_counts()[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

**Question 4: Number of unique Audi car models**

In [152]:
len(df[df['Make']=='Audi']['Model'].unique())
#df[df['Make']=='Audi']['Model'].value_counts.count()

34

**Question 5: Number of columns with missing values**

In [153]:
(df.isnull().sum()>0).sum()

5

**Question 6: Does the median value change after filling missing values?**

In [154]:
median_EC = df['Engine Cylinders'].median()
median_EC

6.0

In [165]:
frequent_EC = int(df['Engine Cylinders'].mode())
frequent_EC

4

In [166]:
df['Engine Cylinders'].fillna(frequent_EC, inplace=True)

In [167]:
df['Engine Cylinders'].isna().sum()

0

In [170]:
median_EC_after = df['Engine Cylinders'].median()
median_EC_after

6.0

**Questions 7: Value of the first element of w**

In [192]:
X = df[df['Make']=='Lotus'][['Engine HP', 'Engine Cylinders']].drop_duplicates()
XTX = np.dot(X.T , X)
XTX_inverse = np.linalg.inv(XTX)
y = [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800]
w = np.dot(XTX_inverse, X.T).dot(y)
w

array([  4.59494481, -63.56432501])